<div class="btn-group pb-1" role="group">
    <a routerLink="county-list" routerLinkActive="btn-info" class="btn btn-sm btn-secondary">Counties</a>
    <a routerLink="city-list" routerLinkActive="btn-info" class="btn btn-sm btn-secondary">Cities</a>
    <a routerLink="caen-list" routerLinkActive="btn-info" class="btn btn-sm btn-secondary">Caens</a>
    <a routerLink="indicator-list" routerLinkActive="btn-info" class="btn btn-sm btn-secondary">Indicators</a>
</div>

<router-outlet></router-outlet>