<div *ngIf="model">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{model && model.id?'Edit':'Add'}} indicator</h4>
    </div>
    <div class="modal-body">
        <form #form="ngForm" novalidate>
            <div class="form-group" [ngClass]="{'has-danger': name.invalid && name.touched}">
                <label for="name" class="form-control-label">Name</label>
                <input type="text" class="form-control" [ngClass]="{'form-control-danger': name.invalid && name.touched}" id="name" name="name" placeholder=""
                       #name="ngModel" [(ngModel)]="model.name" required maxlength="100" />
                <small class="form-control-feedback" *ngIf="name.invalid && name.errors.required && name.touched">The field is required</small>
            </div>
            <div class="form-group" [ngClass]="{'has-danger': code.invalid && code.touched}">
                <label for="code" class="form-control-label">Code</label>
                <input type="text" class="form-control" [ngClass]="{'form-control-danger': code.invalid && code.touched}" id="code" name="code" placeholder=""
                       #code="ngModel" [(ngModel)]="model.code" required maxlength="20" />
                <small class="form-control-feedback" *ngIf="code.invalid && code.errors.required && code.touched">The field is required</small>
            </div>
            <div class="form-group" [ngClass]="{'has-danger': indicatorType.invalid && indicatorType.touched}">
                <label for="indicatorType" class="form-control-label">Indicator type</label>
                <select class="form-control" [ngClass]="{'form-control-danger': indicatorType.invalid && indicatorType.touched}" id="indicatorType" name="indicatorType" placeholder=""
                       #indicatorType="ngModel" [(ngModel)]="model.indicatorType" required maxlength="20" (change)="onIndicatorTypeChange()">
                       <option [value]="it.id" *ngFor="let it of indicatorTypeList">{{it.name}}</option>
                </select>
                <small class="form-control-feedback" *ngIf="indicatorType.invalid && indicatorType.errors.required && indicatorType.touched">The field is required</small>
            </div>
            <div class="form-group" [ngClass]="{'has-danger': arguments.invalid && arguments.touched}">
                <label for="arguments" class="form-control-label">Arguments</label>
                <textarea class="form-control" [ngClass]="{'form-control-danger': arguments.invalid && arguments.touched}" id="arguments" name="arguments" placeholder=""
                       #arguments="ngModel" [(ngModel)]="model.arguments" maxlength="1000" [disabled]="!argumentsRequired" [required]="argumentsRequired"></textarea>
                <small class="form-control-feedback" *ngIf="arguments.invalid && arguments.errors.required && arguments.touched">The field is required</small>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="form && !form.valid">Save changes</button>
    </div>
</div>
